.board {
    display: flex;
    justify-content: space-between;

    width: 100%;
    height: 100vh;
    overflow-x: scroll;
    padding-top: 60px;

}

.boardDark {
    background: rgb(56, 56, 62);
    color: white;
}